.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-color: #050404cf;     
    position: relative;  
}

.login-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-image: url('../../../../public/icons/LogoVaqueras1.png') ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.login-card {
    background-color: rgba(0,0, 0, 0.5);    
    padding: 2rem;    
    width: 100%;
    max-width: 400px;         
    position: relative;    
    backdrop-filter: blur(5px);       
    
}



h2 {
    text-align: center;
    color: #dcd3d3;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e6dede;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #667eea;
}

.error-message {
    background: #fee;
    color: #c33;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover:not(:disabled) {
    background: #5568d3;
}

.btn-login:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: #ede3e3;
}

.register-link a {
    color: #1638d2;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}