.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050404cf; 
    position: relative;
}

.registro-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-image: url('../../../../public/icons/LogoVaqueras1.png') ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.registro-card {
    background-color: rgba(0,0, 0, 0.5);    
    padding: 2rem;    
    width: 100%;
    max-width: 400px;         
    position: relative;    
    backdrop-filter: blur(5px);    
}

h2 {
    text-align: center;
    color: #fdfdfd;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #d4c1c1;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #dacdcd;
    font-weight: 500;
    font-size: 14px;
}

.required {
    color: #e74c3c;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: none;
    border-color: #667eea;
}

.password-input {
    position: relative;
    display: flex;
    align-items: center;
}


.help-text {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #fef4f4;
}

.error-message {
    background: #fee;
    color: #c33;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    border-left: 4px solid #c33;
}

.btn-registro {
    width: 100%;
    padding: 14px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-registro:hover:not(:disabled) {
    background: #5568d3;
}

.btn-registro:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    color: #f3e9e9;
    font-size: 14px;
}

.login-link a {
    color: #1638d2;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
    .registro-card {
        padding: 30px 20px;
    }
}